!!!
%html
%head
%body
  #header
    %a{:href => "/"}
      %img{:src => "http://www.gravatar.com/avatar/{{ site.gravatar }}?s=130",
           :height => "130",
           :width => "130",
           :class => "avatar"}

  #me
    %a{:href => "/"}
      %span#Patrick = {% site.title %}
      %span#Slattery = {% site.subtitle %}

  #mousing &nbsp;
  .site
    %a#github{:href => "https://github.com/patslat"}
    %a#twitter{:href => "https://twitter.com/patslat4"}

  #sections
    %a{:href => "/about.haml"} About

  = "{{ haml content.haml }}"
