<!DOCTYPE HTML>
<html>
<head>
  <link href="{{ site.url }}/stylesheets/main.css" rel="stylesheet"</link>
  <link href="{{ site.url }}/stylesheets/bootstrap.css" rel="stylesheet"</link>
  <link href="{{ site.url }}/stylesheets/colors.css" rel="stylesheet"</link>

  <link rel="shortcut icon" href="{{site.url}}img/favicon.ico"</link>

  <script type="text/javascript" src="{{ site.url }}javascripts/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div id="header" class="">
    <div id="title">
      <span>
        <a href="/">
          <div id="patrick"><strong>{{ site.title }}</strong></div>
        </a>
      </span>
    </div>
  </div>

  <div id="sidebar">
    <div id="pic" class="pull-left">
      <a href="/">
        <img src="http://www.gravatar.com/avatar/{{ site.gravatar }}?s=130"
             height="130"
             width="130"
             class="avatar">
      </a>
    </div>
    <div id="sections" class="section">
      <a href="{{ site.url }}/about.html">About</a>
    </div>
  </div>

  <div id="main">
    {{content}}
  </div>


</body>
</html>
